[user]
	name = Leandro Francke
	email = 219414135+leofrancke@users.noreply.github.com
[credential]
	helper = store
[core]
	editor = vim
	pager = delta
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
[merge]
	conflictStyle = zdiff3
