[Unit]
Description=Kanata keyboard remapper

[Service]
Type=simple
ExecStart=/usr/bin/kanata --cfg %h/.config/kanata/kanata.kbd

[Install]
WantedBy=default.target
